.dx-card {
    cursor: pointer;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cockpit {
    display: flex;
    gap: 10px;
}

.btn {
    width: 120px;
}