<h2 class="content-block">Vinos</h2>

<dx-data-grid class="dx-card wide-card"
  [dataSource]="dataSource"
  [showBorders]="false"
  [focusedRowEnabled]="true"
  [focusedRowIndex]="0"
  [columnAutoWidth]="true"
  [columnHidingEnabled]="true">

  <dxo-paging [pageSize]="10"></dxo-paging>
  <dxo-pager [showPageSizeSelector]="true" [showInfo]="true"></dxo-pager>
  <dxo-filter-row [visible]="true"></dxo-filter-row>

  <dxi-column
    dataField="Id"
    [width]="90"
    [hidingPriority]="2">
  </dxi-column>
  <dxi-column
    dataField="Nombre"
    caption="Nombre"
    [hidingPriority]="8">
  </dxi-column>
  <dxi-column
    dataField="Anada"
    [width]="80"
    caption="Añada"
    dataType="number"
    [hidingPriority]="4">
  </dxi-column>
  <dxi-column
    dataField="TipoNombre"
    [width]="130"
    caption="Tipo"
    [hidingPriority]="5">
  </dxi-column>
  <dxi-column
    dataField="RegionNombre"
    caption="Región"
    [allowSorting]="false"
    [hidingPriority]="7">
  </dxi-column>
  <dxi-column
    dataField="BodegaNombre"
    caption="Bodega"
    [hidingPriority]="3">
  </dxi-column>
  <dxi-column
    dataField="Precio"
    [width]="90"
    caption="Precio"
    dataType="number"
    format="currency"
    [hidingPriority]="6">
  </dxi-column>
  <dxi-column
    dataField="Graduacion"
    [width]="110"
    caption="Graduación"
    dataType="number"
    [hidingPriority]="1">
  </dxi-column>
  <dxi-column
    dataField="Stock"
    [width]="120"
    caption="Stock"
    dataType="number"
    [hidingPriority]="0">
  </dxi-column>
</dx-data-grid>
