<div class="row">
    <div class="col-lg-12">
        <h1 class="mt-5">Listado de vinos</h1>
    </div>
</div>
<br><br>
<a routerLink="/vinos/nuevo" class="btn btn-primary">Nuevo vino</a>
<br><br>
<div class="row">
    <div class="col-xs-12 text-center">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Añada</th>
                    <th scope="col">Bodega</th>
                    <th scope="col">Tipo</th>
                    <th scope="col">Editar</th>
                    <th scope="col">Eliminar</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let vino of listaVinos">
                    <th scope="row">{{ vino.id }}</th>
                    <td>
                        <a 
                        [routerLink]="['/vinos', vino.id]">
                            {{ vino.nombre }}
                        </a>
                    </td>
                    <td>{{ vino.anada }}</td>
                    <td>{{ vino.bodega.nombre }}</td>
                    <td>{{ vino.tipo.nombre }}</td>
                    <td>
                        <a
                            [routerLink]="['/vinos', vino.id, 'editar']">
                            <img src="\assets\images\edit_pencil.png">
                        </a>
                    </td>
                    <td>
                        <a
                            (click)="onDeleteVino(vino.id)">
                            <img src="\assets\images\delete_bin.png">
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>