<div *ngIf="region">
    <div class="content-block title">
        <h2>{{ region.nombre }} ({{ region.pais }})</h2>
        <div class="cockpit">
            <button 
                type="button" 
                class="btn btn-danger"
                (click)="onDeleteRegion()">
                Eliminar
            </button>
            <button 
                type="button" 
                class="btn btn-primary"
                [routerLink]="['/uvas', region.id, 'editar']">
                Editar
            </button>
        </div>
    </div>
    <div class="details dx-card content-block">
        <div class="foto-region">
            <img 
                class="img-responsive" 
                src="https://www.lechepuleva.es/documents/13930/203222/uva_g.jpg/4ee0cd1b-f0d3-41cc-80b8-17e5a80b834a?t=1422618555000" 
                [alt]="region.nombre">
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h5>Descripción</h5>
                <p>{{ region.descripcion }}</p>
            </div>
        </div>
    </div>
</div>
