<div *ngIf="vino">
    <div class="content-block title">
        <h2>{{ vino.nombre }}</h2>
        <div class="cockpit">
            <button 
                type="button" 
                class="btn btn-danger"
                (click)="onDeleteVino()">
                Eliminar
            </button>
            <button 
                type="button" 
                class="btn btn-primary"
                [routerLink]="['/vinos', vino.id, 'editar']">
                Editar
            </button>
        </div>
    </div>
    <div class="details dx-card content-block">
        <div class="foto-vino">
            <img class="img-responsive" [src]="vino.imagenes.imgAnv" [alt]="vino.nombre">
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h5>Bodega</h5>
                <p>{{ vino.bodega.nombre }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h5>Región</h5>
                <p>{{ vino.region.nombre }} ({{ vino.region.pais }})</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h5>Tipo</h5>
                <p>{{ vino.tipo.nombre }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h5>Precio</h5>
                <p>{{ vino.precio }} €</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h5>Descripción</h5>
                <p>{{ vino.breveDescripcion }}</p>
            </div>
        </div>
    </div>
</div>
