<div class="content-block title">
    <h2>Uvas</h2>
    <div class="cockpit">
      <button 
        routerLink="/uvas/nueva" 
        class="btn btn-primary">
        Nueva uva</button>
    </div>
  </div>
  
  <dx-data-grid class="dx-card wide-card"
    [dataSource]="dataSource"
    [showBorders]="false"
    [columnAutoWidth]="true"
    [columnHidingEnabled]="true"
    [hoverStateEnabled]="true"
    (onRowClick)="onRowClick($event)"
    id="row">
  
    <dxo-paging [pageSize]="10"></dxo-paging>
    <dxo-pager [showPageSizeSelector]="true" [showInfo]="true"></dxo-pager>
    <dxo-filter-row [visible]="true"></dxo-filter-row>
  
    <dxi-column
      dataField="id"
      [width]="90"
      [hidingPriority]="2">
    </dxi-column>
    <dxi-column
      dataField="nombre"
      caption="Nombre"
      [hidingPriority]="8">
    </dxi-column>
  </dx-data-grid>
