<div class="content-block title">
    <h2>Tipos</h2>
    <div class="cockpit">
        <button 
        routerLink="/tipos/nueva" 
        class="btn btn-primary">
        Nuevo tipo</button>
    </div>
</div>

<dx-data-grid class="dx-card wide-card"
    [dataSource]="listaTipos"
    [showBorders]="false"
    [columnAutoWidth]="true"
    [columnHidingEnabled]="true"
    [hoverStateEnabled]="true"
    (onRowClick)="onRowClick($event)"
    id="row">

    <dxo-paging [pageSize]="10"></dxo-paging>
    <dxo-pager [showPageSizeSelector]="true" [showInfo]="true"></dxo-pager>
    <dxo-filter-row [visible]="true"></dxo-filter-row>

    <dxi-column
        dataField="id"
        [width]="90"
        [hidingPriority]="1">
    </dxi-column>
    <dxi-column
        dataField="nombre"
        caption="Nombre"
        [hidingPriority]="3">
    </dxi-column>
</dx-data-grid>
